tensorflow[and-cuda]
blinker
click
colorama
Flask
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
Werkzeug
numpy
Cmake
tensorflow-datasets
tensorrt
keras
beautifulsoup4
tensorflow-hub
matplotlib
PyQt6
keras-tuner
tf-keras