tensorflow[and-cuda]
blinker
click
colorama
itsdangerous
Jinja2
MarkupSafe
psycopg2-binary
Werkzeug
numpy
pandas
Cmake
tensorflow-datasets
tensorrt
keras
beautifulsoup4
tensorflow-hub
matplotlib
PyQt6
keras-tuner
tf-keras
tokenizers
sentence-transformers
nltk
transformers
seaborn